.calendar {
  padding: var(--spacer-s) 5%;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 80vh;
  border-radius: var(--radius);
  margin-bottom: var(--spacer-s);
  position: relative;
  background-color: var(--block);
}

.header {
    margin-inline: 0;
    .buttons {
      margin-top: 1rem;
      gap: 1rem;
    }
    label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
}

.hours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hour {
  min-height: 2px;
  background-color: hsl(var(--bg-hsl) / 0.2);
}

.tasks {
  position: relative;
  overflow: hidden;
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--spacer-s);
  
}

.entry {
  display: grid;
  place-content: start;
  gap: 0.1rem;
  position: absolute;
  min-height: 2px;
  list-style: none;
  background-color: var(--action);
  border-radius: var(--radius);
  padding: 0.4em;
  font-size: 70%;
  overflow: hidden;
  font-weight:bold;
  color: transparent;
  transition: .3s var(--transition, ease);
  &:hover {
    z-index: 1;
    font-size: 100%;
    color: var(--text);
    padding: 1rem;
    min-height: 3rem;
  }
}